<div class="container">
  <div class="row justify-content-center text-center">
    <h3>Acerca de RecetasOWC</h3>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <p>RecetasOWC nace de la necesidad de buscar recetas escritas a mano en libros o cuadernos.
        Y como esto muchas veces resulta tedioso y hasta peligroso en caso de algún deterioro 
        del material, se crea la página web, para almacenar, mostrar y poder administrar todas
        las recetas que sean necesarias para cualquier ocasión, sin importar donde y cuando te
        encuentres.
      </p>
      </div>
  </div>
  <div class="row justify-content-center">
    <h3>Términos y condiciones del servicio</h3>
  </div>
  <div class="row justify-content-center">
    <div class="col-lg-8">
    <p>Para RecetasOWC es importante tener conocimiento para los usuarios que lean nuestras recetas,
      como para los que las administren lo siguiente:
    </p>
    <ul>
      <li>Los usuarios estándar que sólo tengan acceso a revisar las recetas, sólo tienen acceso
        de lectura por lo que, para recurrir a un nuevo nivel de acceso debe solicitarlo a algunos
        de los colaboradores que se encuentran al pie de esta página
      </li>
      <li>Los datos del usuario una vez registrados por un administrador actualmente activo
        se encuentran cifrados por lo que sus datos personales, ya sea nombre, teléfono, etc serán
        respaldados y protegidos con total seguridad y en ningún momento se hará uso malintencionado de estos.
      </li>
      <li>RecetasOWC es una página de recetas libre de lucro, no se recibe ninguna compensación monetaria,
        ni de ningún tipo, tanto para los creadores como para los usuarios. Por lo que ser un colaborador
        para la página es sólo con motivos de aportar contenido e información gratuita para toda la comunidad.
      </li>
    </ul>
    </div>
  </div>
</div>